@font-face {
  font-family: "iconfont"; /* Project id 2939972 */
  src: url('//at.alicdn.com/t/font_2939972_97kni0b096h.woff2?t=1647154374162') format('woff2'),
       url('//at.alicdn.com/t/font_2939972_97kni0b096h.woff?t=1647154374162') format('woff'),
       url('//at.alicdn.com/t/font_2939972_97kni0b096h.ttf?t=1647154374162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-aixin:before {
  content: "\e613";
}

.icon-guanbi:before {
  content: "\e606";
}

.icon-shouhuodizhi:before {
  content: "\e616";
}

.icon-gerenxinxi:before {
  content: "\e605";
}

.icon-zuji:before {
  content: "\e604";
}

.icon-daishouhuo:before {
  content: "\e601";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-tuikuantuihuo:before {
  content: "\e603";
}

.icon-quanbudingdan:before {
  content: "\e695";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-daipingjia:before {
  content: "\e646";
}

.icon-anonymous:before {
  content: "\e8ee";
}

.icon-kongxinduigou:before {
  content: "\ebe5";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-zhuye:before {
  content: "\e610";
}

.icon-shezhi:before {
  content: "\e607";
}

.icon-denglu:before {
  content: "\e60f";
}

.icon-31daipingjia:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-search:before {
  content: "\e6ac";
}
